
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Your comment goes here -->
    <!-- <link rel="stylesheet" type="text/css" href="css/reset.css"> -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Bastard Burgers</title>
    <meta charset="utf-8"/>
</head>

<body>
    <main>

        <header class="head">
            <img  src="img/background.jpg" alt="background pic">
            <div class="welcome_massage">
                <h1>Welcome to Bastard Burgers</h1>
            </div>
        </header>

        <section class="menu">
            <h2>Select burger</h2>
            <p>This is where you execute burger selection</p>

            <div class="wrapper">
                <div class="pic a">
                    <h5>Bang Burger</h5>
                    <img src="img/BangBurger.jpg" alt="Bang burger" width="100%" title="The Bang Bang Burger"/>
                    <ul>
                        <tr>
                            <li>800 kcal</li>
                            <li>Contains <span class="allergy">gluten</span></li>
                            <li>Contains <span class="allergy">lactose</span></li>

                        </tr>
                    </ul>
                </div>
                <div class="pic b">
                    <h5>Cheese Burger</h5>
                    <img src="img/CheeseBurger.jpg" alt="Classic Cheeseburger" width="100%" title="Classic Cheeseburger"/>
                    <ul>
                        <tr>
                            <li>900 kcal</li>
                            <li>Contains <span class="allergy">gluten</span></li>
                            <li>Contains <span class="allergy">lactose</span></li>

                        </tr>
                    </ul>
                </div>
                <div class="pic c">
                    <h5>Onion Burger</h5>
                    <img src="img/OnionBurger.jpg" alt="Onion burger" width="100%" title="The Onion burger with cheese"/>
                    <ul>
                        <tr>
                            <li>1000 kcal</li>
                            <li>Contains <span class="allergy">gluten</span></li>
                            <li>Contains <span class="allergy">lactose</span></li>

                        </tr>
                    </ul>
                </div>
                <div class="pic d">
                    <h5>Meatstick Burger</h5>
                    <img src="img/MeatstickBurger.jpg" alt="The Meatstick" width="100%" title="The Meatstick"/>
                    <ul>
                        <tr>
                            <li>1200 kcal</li>
                            <li>Contains <span class="allergy">gluten</span></li>
                            <li>Contains <span class="allergy">lactose</span></li>

                        </tr>
                    </ul>
                </div>
            </div>
        </section>

        <section id="customer_infromation">
            <h3>Customer information</h3>
            <p>This is where you provide necessery information</p>
        </section>

        <section id="contact">
            <h3>Delivery information</h3>
            <form>
                <p>
                    <!-- fn = full name -->
                    <label for="name">Full name</label><br>
                    <input type="text" id="name" name="fn" required="required" placeholder="First- and Last name" maxlength="32">
                </p>
                <p>
                    <!-- em = email -->
                    <label for="email">E-mail</label><br>
                    <input type="email" id="email" name="em" required="required" placeholder="E-mail address" maxlength="32">
                </p>
                <p>
                    <!-- st = street number -->
                    <label for="street">Street</label><br>
                    <input type="text" id="street" name="st" required="required" placeholder="Street name" maxlength="32">
                </p>
                <p>
                    <!-- hn = house number -->
                    <label for="house">House</label><br>
                    <input type="number" id="house" name="hn" required="required" placeholder="House number">
                </p>
                <p>
                    <label for="payment_options">Payment options</label><br>
                    <select id="payment_options" name="po">
                        <option>Mobile payment</option>
                        <option selected="selected">Credit card</option>
                        <option>Cash</option>
                        <option>Check</option>
                    </select>
                </p>
                <p>
                    <!--gn = gender-->
                    <label for="gender">Gender</label><br>
                    <input type="radio" id="gender" name="gn" value="male">Male <br>
                    <input type="radio" id="gender" name="gn" value="female">Female <br>
                    <input type="radio" id="gender" name="gn" value="other" checked="checked">Other <br>
                </p>
                <button type="submit"><img src="img/order.png" alt="your order" width="15" title="your order"/> Place my order!</button>
            </form>
        </section>
    </main>

    <hr>
    <footer class="foot">
        <p>Copyright &copy; Aliyawer Qambari 2019 </p>
    </footer>

</body>
</html>
